In [1]:
import itertools
import pdb
import os
from helper import *

In [2]:
def findsubsets(s, n): 
    #return list(itertools.combinations(s, n)) 
    return list(map(set, itertools.combinations(s, n))) 
s = {1, 2, 3} 
n = 2
  
print(findsubsets(s, n))

[{1, 2}, {1, 3}, {2, 3}]

In [3]:
def mes(apelido_fundo,anomes,tipo):
    if tipo == 'acoes':
        aux = pd.read_csv('excel_fundos\\'+apelido_fundo+'\\'+str(anomes)+'.xls',index_col = 0,sep='\t',decimal= '.')
        lista_acoes = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                         'Ações e outros TVM cedidos em empréstimo',
                         'Ações',
                         'Valores a pagar']
        
        aux.pf_quant = aux.pf_quant.apply(abs)*aux.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
        aux.pf_valor_mercado = aux.pf_valor_mercado.apply(abs)*aux.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
        #aux.pf_quant = aux.pf_quant*abs(aux.porcent_partrimonio_liquido)/aux.porcent_partrimonio_liquido
        #aux.pf_valor_mercado = aux.pf_valor_mercado*abs(aux.porcent_partrimonio_liquido)/aux.porcent_partrimonio_liquido
        return aux[aux.ativo1.isin(lista_acoes)]

In [4]:
def precos(anomes,ativo):
    precos = pd.read_csv(str(anomes)[:-2]+'.txt',index_col=False,sep=';',header=0,chunksize=10000).read()
    precos = precos[(precos.CODNEG == ativo)&(precos.TPMERC == 10.0)&(precos.DATA > 100*int(anomes))&(precos.DATA < 100+100*int(anomes))]
    return precos

In [5]:
def teste(carteira_0,carteira_1,ativo,anomes):
    if anomes[4:6] == '01':
        fechamento_0 = precos(str(int(anomes)-101+12),ativo).sort_values(by='DATA',ascending=False).iloc[0,10]
    else:
        fechamento_0 = precos(str(int(anomes)-1),ativo).sort_values(by='DATA',ascending=False).iloc[0,10]
    quantidade_referencia =100*( carteira_0[carteira_0.ativo3 == ativo].pf_quant.sum() - carteira_1[~carteira_1.fechado][carteira_1.ativo3 == ativo].pf_quant.sum() )
    auxiliar = carteira_1[carteira_1.fechado][carteira_1.candidatos.str.contains(ativo)][['ativo1','aserestudado','vendas_montante','aquis_montante','pf_valor_mercado','cand_pf_quant']].fillna(0).copy()
    
    preco = precos(anomes,ativo)
    maximo = max(preco.PREMAX)
    minimo = min(preco.PREMIN)
    fechamento_1 = preco.sort_values(by='DATA',ascending=False).iloc[0,10]
    
    #auxiliar['MAX'] = 100*auxiliar.cand_pf_quant +(auxiliar.vendas_montante+99)/minimo- auxiliar.aquis_montante/maximo
    auxiliar['MAX'] = (auxiliar.pf_valor_mercado+99)/fechamento_1 +(auxiliar.vendas_montante+99)/minimo - auxiliar.aquis_montante/maximo
    #auxiliar['MIN'] = 100*auxiliar.cand_pf_quant  +auxiliar.vendas_montante/maximo - (auxiliar.aquis_montante+99)/minimo 
    auxiliar['MIN'] = auxiliar.pf_valor_mercado/fechamento_1 +auxiliar.vendas_montante/maximo - (auxiliar.aquis_montante+99)/minimo 
    lista = []
    #print(fechamento_0,minimo,maximo,fechamento_1,quantidade_referencia,"\n",auxiliar)
    #pdb.set_trace()
    for k in range(1,len(auxiliar.index)+1):
        for j in findsubsets(auxiliar.index, k):
            if round(auxiliar[auxiliar.index.isin(j)].MAX.sum()) >= quantidade_referencia >= round(auxiliar[auxiliar.index.isin(j)].MIN.sum()):
                if len(auxiliar[auxiliar.index.isin(j)].ativo1) == len(set(auxiliar[auxiliar.index.isin(j)].ativo1)):
                    lista.append(j)
    
    if len(lista) == 1:
        print('-------------------'+ativo+'-------------------')
        
    else:
        print(ativo,quantidade_referencia,"\n",auxiliar,"\n",lista)
    carteira_1 = completa(ativo,lista[0],carteira_1)
    return carteira_1

In [6]:
def teste_fraco(carteira_0,carteira_1,ativo,anomes):
    if anomes[4:6] == '01':
        fechamento_0 = precos(str(int(anomes)-101+12),ativo).sort_values(by='DATA',ascending=False).iloc[0,10]
    else:
        fechamento_0 = precos(str(int(anomes)-1),ativo).sort_values(by='DATA',ascending=False).iloc[0,10]
    quantidade_referencia =100*( carteira_0[carteira_0.ativo3 == ativo].pf_quant.sum() - carteira_1[~carteira_1.fechado][carteira_1.ativo3 == ativo].pf_quant.sum() )
    auxiliar = carteira_1[carteira_1.fechado][carteira_1.candidatos.str.contains(ativo)][['ativo1','aserestudado','vendas_montante','aquis_montante','pf_valor_mercado','cand_pf_quant']].fillna(0).copy()
    
    preco = precos(anomes,ativo)
    maximo = max(preco.PREMAX)
    minimo = min(preco.PREMIN)
    fechamento_1 = preco.sort_values(by='DATA',ascending=False).iloc[0,10]
    
    #auxiliar['MAX'] = 100*auxiliar.cand_pf_quant +(auxiliar.vendas_montante+99)/minimo- auxiliar.aquis_montante/maximo
    auxiliar['MAX'] = (auxiliar.pf_valor_mercado+99)/fechamento_1 +(auxiliar.vendas_montante+99)/minimo - auxiliar.aquis_montante/maximo
    #auxiliar['MIN'] = 100*auxiliar.cand_pf_quant  +auxiliar.vendas_montante/maximo - (auxiliar.aquis_montante+99)/minimo 
    auxiliar['MIN'] = auxiliar.pf_valor_mercado/fechamento_1 +auxiliar.vendas_montante/maximo - (auxiliar.aquis_montante+99)/minimo 
    lista = []
    #print(fechamento_0,minimo,maximo,fechamento_1,quantidade_referencia,"\n",auxiliar)
    #pdb.set_trace()
    for k in range(1,len(auxiliar.index)+1):
        for j in findsubsets(auxiliar.index, k):
            if round(auxiliar[auxiliar.index.isin(j)].MAX.sum()) >= quantidade_referencia >= round(auxiliar[auxiliar.index.isin(j)].MIN.sum()):
                if len(auxiliar[auxiliar.index.isin(j)].ativo1) == len(set(auxiliar[auxiliar.index.isin(j)].ativo1)):
                    lista.append(j)
    
    if len(lista) == 1:
        print('-------------------'+ativo+'-------------------')
        carteira_1 = completa(ativo,lista[0],carteira_1)
    else:
        print(ativo,quantidade_referencia,"\n",auxiliar,"\n",lista)
    return carteira_1

In [7]:
def filtro_alfabetico(carteira,alfabetico,aserestudado_com_varios_ativo3=[]):
    if type(aserestudado_com_varios_ativo3) != list:
        aserestudado_com_varios_ativo3 = [aserestudado_com_varios_ativo3]
    teste = carteira.copy()
    for aserestudado,ativo3,grupo in teste[~teste.ativo3.isnull()][~teste.aserestudado.isin(aserestudado_com_varios_ativo3)][['aserestudado','ativo3','grupo']].values:
    #for aserestudado,ativo3,grupo in teste[['aserestudado','ativo3','grupo']].values:
        if alfabetico:
            dropar = teste[(teste.grupo==grupo)&(teste.aserestudado>aserestudado)&(teste.candidatos<=ativo3)].index
            teste.drop(list(dropar), inplace=True)
            dropar = teste[(teste.grupo==grupo)&(teste.aserestudado<aserestudado)&(teste.candidatos>=ativo3)].index
            teste.drop(list(dropar), inplace=True)
        else:
            dropar = teste[(teste.grupo==grupo)&(teste.aserestudado>aserestudado)&(teste.candidatos>=ativo3)].index
            teste.drop(list(dropar), inplace=True)
            dropar = teste[(teste.grupo==grupo)&(teste.aserestudado<aserestudado)&(teste.candidatos<=ativo3)].index
            teste.drop(list(dropar), inplace=True)
    return teste

In [8]:
def filtro_unico_index(carteira,aserestudado_sem_nenhum_ativo3=[]):
    carteira = carteira.copy()
    if type(aserestudado_sem_nenhum_ativo3) != list:
        aserestudado_sem_nenhum_ativo3 = [aserestudado_sem_nenhum_ativo3]
    CONFUSAO = carteira[~carteira.aserestudado.isin(aserestudado_sem_nenhum_ativo3)].groupby(by='aserestudado').count()[['ativo3']]
    if (CONFUSAO.ativo3==1).all():
        print('trabalho concluido'.upper())
        return carteira[(carteira.ativo3.notnull())|(carteira.aserestudado.isin(aserestudado_sem_nenhum_ativo3))].sort_values(['aserestudado','candidatos'])
    else:
        
        print(CONFUSAO[CONFUSAO.ativo3>1])
        print(CONFUSAO[CONFUSAO.ativo3==0])
        return carteira.sort_values(['aserestudado','candidatos'])

In [9]:
def separa_blocos(carteira_pandas):
    
    
    
    teste = carteira_pandas.sort_values(by='aserestudado').copy()


    assert len(teste[teste.ativo1.str.upper() == 'disponibilidades'.upper()].index )==1
    assert len(teste[teste.ativo1.str.upper() == 'Valores a receber'.upper()].index )==1



    alfabetico = teste[teste.ativo1.str.upper() == 'disponibilidades'.upper()].aserestudado.values[0] < teste[teste.ativo1.str.upper() == 'Valores a receber'.upper()].aserestudado.values[0] 

    if not alfabetico:
        teste =teste.sort_values(by=['candidatos'],ascending=False).sort_values(by=['aserestudado'])
    
    
    assert len(teste[teste.ativo1.str.upper() == 'Obrigações por ações e outros TVM recebidos em empréstimo'.upper()].index )==0
    assert len(teste[teste.ativo1.str.upper() == 'Outros valores mobiliÃ¡rios registrados na CVM objeto de oferta pública'.upper()].index )==0
    assert len(teste[teste.ativo1.str.upper() == 'Valores a pagar'.upper()].index )<=1

    disponibilidade = teste[teste.ativo1.str.upper() == 'disponibilidades'.upper()].aserestudado.values[0]
    valor_receber =teste[teste.ativo1.str.upper() == 'Valores a receber'.upper()].aserestudado.values[0]


    teste['grupo'] = 0
    
    if not alfabetico:
        print('ISSO ESTA ERRADO, QUANDO É NÃO ALFABETICO (olhar squadra 202004 o aserestudado 58331405 q vc vai entender)')
        print('Tento by passar usando a localização de algum Investimento no Exterior')
        #return

        investimento_exterior_aserestudado =teste[teste.ativo1.str.upper() == 'Investimento no Exterior'.upper()].aserestudado.values[0]



        #Aqui considero que se houver mais de um valor a pagar, ele vaão estar separados
        lista = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                            'Ações',
                            'Certificado ou recibo de depósito de valores mobiliários',
                            'Valores a pagar']
        grupo_1 = teste[teste.aserestudado<valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 1

        lista = ['Ações e outros TVM cedidos em empréstimo']
        grupo_1 = teste[teste.aserestudado<valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 2





        #Aqui considero que se houver mais de um valor a pagar, ele vaão estar separados
        lista = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                            'Outros valores mobiliÃ¡rios registrados na CVM objeto de oferta pública',
                            'Ações',
                            'Certificado ou recibo de depósito de valores mobiliários',
                            'Valores a pagar',
                            'Brazilian Depository Receipt - BDR']
        grupo_1 = teste[teste.aserestudado>investimento_exterior_aserestudado][teste.aserestudado<valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 3

        lista = ['Ações e outros TVM cedidos em empréstimo']
        grupo_1 = teste[teste.aserestudado>investimento_exterior_aserestudado][teste.aserestudado<valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 4

    else:
        #Aqui considero que se houver mais de um valor a pagar, ele vaão estar separados
        lista = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                            'Ações',
                            'Certificado ou recibo de depósito de valores mobiliários',
                            'Valores a pagar']
        grupo_1 = teste[teste.aserestudado<disponibilidade][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 1

        lista = ['Ações e outros TVM cedidos em empréstimo']
        grupo_1 = teste[teste.aserestudado<disponibilidade][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 2





        #Aqui considero que se houver mais de um valor a pagar, ele vaão estar separados
        lista = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                            'Outros valores mobiliÃ¡rios registrados na CVM objeto de oferta pública',
                            'Ações',
                            'Certificado ou recibo de depósito de valores mobiliários',
                            'Valores a pagar',
                            'Brazilian Depository Receipt - BDR']
        grupo_1 = teste[teste.aserestudado>valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 3

        lista = ['Ações e outros TVM cedidos em empréstimo']
        grupo_1 = teste[teste.aserestudado>valor_receber][teste.ativo1.isin(lista)].index
        teste.loc[grupo_1,'grupo']= 4





    for t in set(teste.grupo) :
        if t != 0 and teste[teste.grupo==t].ativo3.apply(pd.isna).all() :
            print('grupo',t,'todos os ativos1 são nulos')

    return teste,alfabetico

In [10]:
anomes = 202003
apelido_fundo = 'CONST'.upper()


%time carteira_pandas,fundo,fundo_cnpj,adm,adm_cnpj,pl,hora_recebimento = parse_html_tudo_int(apelido_fundo,anomes,candidatos=True)

Wall time: 892 ms

In [11]:
carteira_pandas,alfabetico = separa_blocos(carteira_pandas)
carteira_pandas[carteira_pandas.grupo == 1]
aux = carteira_pandas.copy()

ISSO ESTA ERRADO, QUANDO É NÃO ALFABETICO (olhar squadra 202004 o aserestudado 58331405 q vc vai entender)
Tento by passar usando a localização de algum Investimento no Exterior

In [12]:
anomes = 202004
apelido_fundo = 'CONST'.upper()


%time carteira_pandas,fundo,fundo_cnpj,adm,adm_cnpj,pl,hora_recebimento = parse_html_tudo_int(apelido_fundo,anomes,candidatos=True)

Wall time: 777 ms

In [13]:
carteira_pandas,alfabetico = separa_blocos(carteira_pandas)

grupo 3 todos os ativos1 são nulos

In [14]:
set(carteira_pandas[carteira_pandas.grupo == 0].ativo1)

{'Cotas de Fundos',
 'Disponibilidades',
 'Investimento no Exterior',
 'Valores a pagar',
 'Valores a receber'}

In [15]:
def explodir(carteira_pandas,alfabetico):
    teste = carteira_pandas[carteira_pandas.grupo!=0]
    assert len(teste[teste.candidatos.isnull()]) ==0
    teste = pd.DataFrame(columns=['index','aserestudado','ativo1','ativo2','ativo3','ativo4','classificacao','emp_ligada','vendas_quant','vendas_montante','aquis_quant','aquis_montante','pf_quant','pf_valor_custo','pf_valor_mercado','porcent_partrimonio_liquido','fechado','candidatos','cand_pf_quant', 'grupo'],data=[(index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,c,q,grupo) if pd.isnull(ativo3) else (index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,ativo3,pf_quant,grupo) for (index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo) in teste.reset_index().values  for (c,q) in zip(candidatos,cand_pf_quant) ]).set_index('index')
    teste = teste.drop_duplicates().sort_values(by='aserestudado').reset_index()
    

    teste = filtro_alfabetico(teste,alfabetico)
    teste.pf_quant = teste.cand_pf_quant
    
    
    teste.pf_quant = teste.pf_quant.apply(abs)*teste.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
    teste.pf_valor_mercado = teste.pf_valor_mercado.apply(abs)*teste.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
    
    
    
    return teste

In [16]:
explodido = explodir(carteira_pandas,alfabetico)

In [17]:
def completa(ativo,linhas,teste):
    for i in linhas:
        teste.loc[int(i),'ativo3'] = ativo
    return teste

In [18]:
lista_acoes = ['Obrigações por ações e outros TVM recebidos em empréstimo',
                 'Ações e outros TVM cedidos em empréstimo',
                 'Ações',
                 'Certificado ou recibo de depósito de valores mobiliários', 
                 'Valores a pagar']

aux.pf_quant = aux.pf_quant.apply(abs)*aux.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
aux.pf_valor_mercado = aux.pf_valor_mercado.apply(abs)*aux.ativo1.apply(lambda x: -1 if 'VALORES A PAGAR' in x.upper() or 'OBRIGAÇÕES' in x.upper() else 1)
aux =  aux[aux.ativo1.isin(lista_acoes)]

In [19]:
aux.loc[5,'ativo3'] = 'BPAC11'

In [20]:
MES0 = aux.copy()
MES1 = explodido.copy()
for ativo in sorted(list({x for x in aux.ativo3 if pd.notna(x)})):
    if ativo.upper() not in ('MRSA5B','MRSA3B','MOAR3','EUCA4','USIM6','TIET12','Valores a Pagar'.upper()):
        MES1 = teste_fraco(MES0,MES1,ativo,'202004')

-------------------ARZZ3-------------------
B3SA3 -154860000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
-------------------BPAC11-------------------
CNTO3 59130000.0
      ativo1  aserestudado  vendas_montante  aquis_montante  pf_valor_mercado  \
1888  Ações      58334064              0.0     676454700.0       27370011300
2342  Ações      58334070              0.0     145085500.0        6455216400

      cand_pf_quant           MAX           MIN
1888      8661396.0  8.466452e+08  8.305367e+08
2342      2042790.0  2.000979e+08  1.966429e+08
 []
CSAN3 78340000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
CYRE3 170000.0
      ativo1  aserestudado  vendas_montante  aquis_montante  pf_valor_mercado  \
1011  Ações      58334052              0.0     252126300.0        9074138000

      cand_pf_quant           MAX           MIN
1011      5703418.0  5.556148e+08  5.492257e+08
 []
-------------------ENEV3-------------------
-------------------ENGI11-------------------
-------------------EQTL3-------------------
-------------------EZTC3-------------------
-------------------GNDI3-------------------
ITUB4 476230000.0
      ativo1  aserestudado  vendas_montante  aquis_montante  pf_valor_mercado  \
1872  Ações      58334064              0.0     676454700.0       27370011300

      cand_pf_quant           MAX           MIN
1872     12020207.0  1.175124e+09  1.168215e+09
 []
-------------------LREN3-------------------
-------------------MGLU3-------------------
-------------------NTCO3-------------------
-------------------PSSA3-------------------
-------------------RADL3-------------------
-------------------RAIL3-------------------
-------------------RENT3-------------------
SULA11 166110000.0
                                                  ativo1  aserestudado  \
665            Ações e outros TVM cedidos em empréstimo      58334046
2015  Certificado ou recibo de depósito de valores m...      58334066

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
665               0.0             0.0        1155104900       258124.0
2015              0.0             0.0        5440597600      1215776.0

               MAX           MIN
665   2.581241e+07  2.581240e+07
2015  1.215776e+08  1.215776e+08
 []
-------------------SUZB3-------------------
-------------------TEND3-------------------
-------------------TOTS3-------------------
-------------------VIVA3-------------------
VVAR3 396930000.0
                                                  ativo1  aserestudado  \
778            Ações e outros TVM cedidos em empréstimo      58334048
976                                               Ações      58334052
1328                                              Ações      58334057
2014  Certificado ou recibo de depósito de valores m...      58334066

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
778               0.0    0.000000e+00         686430800       747746.0
976               0.0    2.521263e+08        9074138000      9884682.0
1328              0.0    1.158770e+09        1213091100      1321450.0
2014              0.0    0.000000e+00        5440597600      5926577.0

               MAX           MIN
778   7.477463e+07  7.477457e+07
976   9.627673e+08  9.247999e+08
1328  1.402376e+07 -1.604736e+08
2014  5.926577e+08  5.926577e+08
 []
-------------------WEGE3-------------------

In [21]:
CONFUSAO = MES1.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3>1]

              ativo3
aserestudado
58334063           2

In [22]:
#papeis que ele Não achou
CONFUSAO = MES1.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

              ativo3
aserestudado
58334046           0
58334053           0
58334057           0
58334058           0
58334066           0

In [23]:
#Antes de rodar o filtro_alfabetico preciso me certicicar que não há nenhuma linha com mais de um valor na coluna ativo3, ou seja nenhum aserestudado_com_varios_ativo3, ou seja, que  len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
assert len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
MES1 = filtro_alfabetico(MES1,alfabetico)

AssertionError:

In [24]:

assert len(CONFUSAO[CONFUSAO.ativo3>1]) != 0
MES1 = filtro_alfabetico(MES1,alfabetico,aserestudado_com_varios_ativo3=58334063)

In [25]:
#Não achou
nao_achou = MES1[MES1.aserestudado.isin(CONFUSAO[CONFUSAO.ativo3<1].index)]

In [26]:
MES0[MES0.ativo1.str.contains('Certificado')]

,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
42,57772133,Certificado ou recibo de depósito de valores m...,Cod. Ativo:,SULA11,Dt. Ini. Vigen.:05/10/2007,Para negociacao,Nao,NaN,NaN,NaN,NaN,1511076.0,NaN,5107436880,1.755,False,"[ADHM3, ALUP3, AZEV3, BBRK3, BDLL4, BEEF3, BID...","[35223703, 4664326, 14592677, 30401410, 728593...",1
41,57772145,Certificado ou recibo de depósito de valores m...,Cod. Ativo:,ENGI11,Dt. Ini. Vigen.:03/11/2009,Para negociacao,Nao,NaN,NaN,NaN,NaN,2296011.0,NaN,8678921580,2.982,False,"[ADHM3, AMAR3, ATMP3, AZEV3, AZEV4, BBRK3, BEE...","[59854632, 18867221, 16072077, 24796919, 39811...",1

In [27]:
MES1[MES1.aserestudado==58334046][MES1.candidatos=='SULA11']

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
665,32,58334046,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,258124.0,NaN,1155104900,0.0,True,SULA11,258124.0,2

In [28]:
MES1 = completa('SULA11',{665,2015},MES1)
MES1 = filtro_unico_index(MES1)
MES1

Empty DataFrame
Columns: [ativo3]
Index: []
              ativo3
aserestudado
58334053           0
58334057           0
58334058           0

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
0,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,ARZZ3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,113579.0,NaN,482710700,0.0,True,ARZZ3,113579.0,2
28,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,3602319.0,NaN,482710700,0.0,True,ATOM3,3602319.0,2
29,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,207172.0,NaN,482710700,0.0,True,BGIP4,207172.0,2
30,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,2806458.0,NaN,482710700,0.0,True,BOBR4,2806458.0,2
31,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,161658.0,NaN,482710700,0.0,True,BRAP4,161658.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,23884336.0,NaN,12658698000,3.0,True,USIM3,23884336.0,3
2461,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,83280908.0,NaN,12658698000,3.0,True,VIVR3,83280908.0,3
2460,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,1346670.0,NaN,12658698000,3.0,True,VVPR11,1346670.0,3
2486,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,4366574.0,NaN,12658698000,3.0,True,WSON33,4366574.0,3
2542,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,17581525.0,NaN,12658698000,3.0,True,XTED11,17581525.0,3

In [29]:
MES1[MES1.aserestudado==58334053]

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
1106,37,58334053,Certificado ou recibo de depósito de valores m...,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,2394690.0,NaN,10464795300,3.0,True,ENGI11,2394690.0,1
1105,37,58334053,Certificado ou recibo de depósito de valores m...,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,34423669.0,NaN,10464795300,3.0,True,EQPA3,34423669.0,1
1104,37,58334053,Certificado ou recibo de depósito de valores m...,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,17470443.0,NaN,10464795300,3.0,True,EQPA7,17470443.0,1

In [30]:
MES1 = completa('ENGI11',{1106},MES1)
MES1 = filtro_unico_index(MES1)
MES1

Empty DataFrame
Columns: [ativo3]
Index: []
              ativo3
aserestudado
58334057           0
58334058           0

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
0,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,ARZZ3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,113579.0,NaN,482710700,0.0,True,ARZZ3,113579.0,2
28,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,3602319.0,NaN,482710700,0.0,True,ATOM3,3602319.0,2
29,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,207172.0,NaN,482710700,0.0,True,BGIP4,207172.0,2
30,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,2806458.0,NaN,482710700,0.0,True,BOBR4,2806458.0,2
31,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,161658.0,NaN,482710700,0.0,True,BRAP4,161658.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,23884336.0,NaN,12658698000,3.0,True,USIM3,23884336.0,3
2461,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,83280908.0,NaN,12658698000,3.0,True,VIVR3,83280908.0,3
2460,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,1346670.0,NaN,12658698000,3.0,True,VVPR11,1346670.0,3
2486,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,4366574.0,NaN,12658698000,3.0,True,WSON33,4366574.0,3
2542,7,58334079,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,269829400.0,17581525.0,NaN,12658698000,3.0,True,XTED11,17581525.0,3

In [31]:
CONFUSAO = MES1.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

              ativo3
aserestudado
58334057           0
58334058           0

In [32]:
list(CONFUSAO[CONFUSAO.ativo3<1].index)

[58334057, 58334058]

In [33]:
MES1 = filtro_alfabetico(MES1,alfabetico)
CONFUSAO = MES1.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

              ativo3
aserestudado
58334057           0
58334058           0

In [34]:
MES1 = filtro_unico_index(MES1,aserestudado_sem_nenhum_ativo3=list(CONFUSAO[CONFUSAO.ativo3<1].index))
#MES1 = MES1.set_index('index')

TRABALHO CONCLUIDO

In [35]:
MES1[MES1.aserestudado==58334057]

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
1379,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,103683.0,NaN,1213091100,0.0,True,GRLV11,103683.0,1
1378,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,4665735.0,NaN,1213091100,0.0,True,GSFI11,4665735.0,1
1346,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,951444.0,NaN,1213091100,0.0,True,GUAR3,951444.0,1
1376,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,6384690.0,NaN,1213091100,0.0,True,HAGA4,6384690.0,1
1375,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,236470.0,NaN,1213091100,0.0,True,HALI34,236470.0,1
1374,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,4720199.0,NaN,1213091100,0.0,True,IDVL4,4720199.0,1
1373,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,6220980.0,NaN,1213091100,0.0,True,IGBR3,6220980.0,1
1372,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,1840806.0,NaN,1213091100,0.0,True,INEP4,1840806.0,1
1377,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,1347879.0,NaN,1213091100,0.0,True,ITSA4,1347879.0,1
1370,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,9862530.0,NaN,1213091100,0.0,True,JBDU4,9862530.0,1
1369,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,158574.0,NaN,1213091100,0.0,True,JRDM11,158574.0,1
1314,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,596700.0,NaN,1213091100,0.0,True,LAME3,596700.0,1
1347,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,113373.0,NaN,1213091100,0.0,True,LOFT11B,113373.0,1
1352,22,58334057,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,1.158770e+09,3110490.0,NaN,1213091100,0.0,True,LPSB3,3110490.0,1

In [36]:
MES1[MES1.aserestudado==58334058]

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
1443,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,11352140.0,NaN,5517140000,1.0,True,GOAU3,11352140.0,1
1442,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,1379285.0,NaN,5517140000,1.0,True,GSHP3,1379285.0,1
1445,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,29037579.0,NaN,5517140000,1.0,True,HAGA4,29037579.0,1
1441,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,27178030.0,NaN,5517140000,1.0,True,HRDF11,27178030.0,1
1440,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,21467471.0,NaN,5517140000,1.0,True,IDVL4,21467471.0,1
1438,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,28293026.0,NaN,5517140000,1.0,True,IGBR3,28293026.0,1
1419,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,8371988.0,NaN,5517140000,1.0,True,INEP4,8371988.0,1
1433,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,5185282.0,NaN,5517140000,1.0,True,ITSA3,5185282.0,1
1417,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,44854797.0,NaN,5517140000,1.0,True,JBDU4,44854797.0,1
1402,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,39979276.0,NaN,5517140000,1.0,True,JCPC34,39979276.0,1
1418,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,13262356.0,NaN,5517140000,1.0,True,JHSF3,13262356.0,1
1397,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,15629292.0,NaN,5517140000,1.0,True,KLBN4,15629292.0,1
1396,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,11034280.0,NaN,5517140000,1.0,True,KNRE11,11034280.0,1
1392,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,2217500.0,NaN,5517140000,1.0,True,LAME4,2217500.0,1
1394,18,58334058,Ações,NaN,NaN,NaN,Para negociacao,Nao,NaN,0.0,NaN,5.549048e+09,14146513.0,NaN,5517140000,1.0,True,LPSB3,14146513.0,1

In [37]:
MES1 = completa('LAME3',{1314},MES1)
MES1 = completa('LAME4',{1392},MES1)
MES1 = filtro_unico_index(MES1)
MES1

TRABALHO CONCLUIDO

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
0,35,58334034,Ações e outros TVM cedidos em empréstimo,NaN,ARZZ3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,113579.0,NaN,482710700,0.000,True,ARZZ3,113579.0,2
103,28,58334035,Ações e outros TVM cedidos em empréstimo,NaN,ENEV3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,565105.0,NaN,2033247700,0.000,True,ENEV3,565105.0,2
182,23,58334036,Ações e outros TVM cedidos em empréstimo,NaN,ENGI11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,956813.0,NaN,4181272800,1.000,True,ENGI11,956813.0,2
185,2,58334037,Ações e outros TVM cedidos em empréstimo,Cod. Ativo:,EQTL3,Dt. Ini. Vigen.:03/04/2006,Para negociacao,Nao,NaN,NaN,NaN,NaN,373863.0,NaN,685290879,0.201,False,EQTL3,373863.0,2
243,30,58334038,Ações e outros TVM cedidos em empréstimo,NaN,EZTC3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,436519.0,NaN,1318723800,0.000,True,EZTC3,436519.0,2
312,33,58334039,Ações e outros TVM cedidos em empréstimo,NaN,GNDI3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,184105.0,NaN,1009079500,0.000,True,GNDI3,184105.0,2
330,29,58334040,Ações e outros TVM cedidos em empréstimo,NaN,LREN3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,384993.0,NaN,1477988100,0.000,True,LREN3,384993.0,2
412,31,58334041,Ações e outros TVM cedidos em empréstimo,NaN,MGLU3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,255861.0,NaN,1271629100,0.000,True,MGLU3,255861.0,2
474,27,58334042,Ações e outros TVM cedidos em empréstimo,NaN,PSSA3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,462771.0,NaN,2095889800,0.000,True,PSSA3,462771.0,2
551,36,58334043,Ações e outros TVM cedidos em empréstimo,NaN,RADL3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,40060.0,NaN,419748600,0.000,True,RADL3,40060.0,2
593,1,58334044,Ações e outros TVM cedidos em empréstimo,Cod. Ativo:,RAIL3,Dt. Ini. Vigen.:13/03/2017,Para negociacao,Nao,NaN,NaN,NaN,NaN,580804.0,NaN,1149411116,0.337,False,RAIL3,580804.0,2
619,24,58334045,Ações e outros TVM cedidos em empréstimo,NaN,RENT3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,1182974.0,NaN,4044588100,1.000,True,RENT3,1182974.0,2
665,32,58334046,Ações e outros TVM cedidos em empréstimo,NaN,SULA11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,258124.0,NaN,1155104900,0.000,True,SULA11,258124.0,2
724,26,58334047,Ações e outros TVM cedidos em empréstimo,NaN,TOTS3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,415970.0,NaN,2460462500,0.000,True,TOTS3,415970.0,2
779,34,58334048,Ações e outros TVM cedidos em empréstimo,NaN,VIVA3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,370443.0,NaN,686430800,0.000,True,VIVA3,370443.0,2
848,25,58334049,Ações e outros TVM cedidos em empréstimo,NaN,WEGE3,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,743487.0,NaN,2969487000,0.000,True,WEGE3,743487.0,2
937,21,58334050,Ações,NaN,ARZZ3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,8.388790e+07,780321.0,NaN,3316364200,0.000,True,ARZZ3,780321.0,1
960,0,58334051,Ações,Cod. Ativo:,B3SA3,Dt. Ini. Vigen.:26/03/2018,Para negociacao,Nao,0.0,0.000000e+00,1548600.0,6.000064e+09,10037300.0,NaN,38563306600,11.323,False,B3SA3,10037300.0,1
1026,13,58334052,Ações,NaN,ENEV3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,2.521263e+08,2521995.0,NaN,9074138000,2.000,True,ENEV3,2521995.0,1
1106,37,58334053,Certificado ou recibo de depósito de valores m...,NaN,ENGI11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,2394690.0,NaN,10464795300,3.000,True,ENGI11,2394690.0,1
1166,15,58334054,Ações,NaN,EQTL3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.691556e+08,3690237.0,NaN,6764204400,1.000,True,EQTL3,3690237.0,1
1234,14,58334055,Ações,NaN,EZTC3,NaN,Para negociacao,Nao,NaN,9.402711e+08,NaN,2.046630e+08,2947199.0,NaN,8903488100,2.000,True,EZTC3,2947199.0,1
1300,5,58334056,Ações,NaN,GNDI3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,4.278013e+09,2988695.0,NaN,16381037200,4.000,True,GNDI3,2988695.0,1
1314,22,58334057,Ações,NaN,LAME3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.158770e+09,596700.0,NaN,1213091100,0.000,True,LAME3,596700.0,1
1392,18,58334058,Ações,NaN,LAME4,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,5.549048e+09,2217500.0,NaN,5517140000,1.000,True,LAME4,2217500.0,1
1464,17,58334059,Ações,NaN,LREN3,NaN,Para negociacao,Nao,NaN,4.098482e+09,NaN,1.786739e+08,1482894.0,NaN,5692830000,1.000,True,LREN3,1482894.0,1
1587,10,58334060,Ações,NaN,MGLU3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,3.392529e+09,2182439.0,NaN,10846721800,3.000,True,MGLU3,2182439.0,1
1631,9,58334061,Ações,NaN,NTCO3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,2.561820e+09,3159600.0,NaN,11222899200,3.000,True,NTCO3,3159600.0,1
1714,20,58334062,Ações,NaN,PSSA3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.391424e+08,878729.0,NaN,3979763600,1.000,True,PSSA3,878729.0,1
1792,8,58334063,Ações,NaN,RADL3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.804257e+09,1165040.0,NaN,12207289100,3.000,True,RADL3,1165040.0,1
1845,3,58334064,Ações,NaN,RAIL3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,6.764547e+08,13830223.0,NaN,27370011300,8.000,True,RAIL3,13830223.0,1
1910,11,58334065,Ações,NaN,RENT3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,2.977515e+08,2871598.0,NaN,9817993500,2.000,True,RENT3,2871598.0,1
2015,38,58334066,Certificado ou recibo de depósito de valores m...,NaN,SULA11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,1215776.0,NaN,5440597600,1.000,True,SULA11,1215776.0,1
2091,6,58334067,Ações,NaN,SUZB3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,6.937205e+09,3690300.0,NaN,14543472300,4.000,True,SUZB3,3690300.0,1
2161,19,58334068,Ações,NaN,TEND3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.026547e+08,2033200.0,NaN,4725156800,1.000,True,TEND3,2033200.0,1
2260,4,58334069,Ações,NaN,TOTS3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,4.884571e+08,3416488.0,NaN,20208526500,5.000,True,TOTS3,3416488.0,1
2325,16,58334070,Ações,NaN,VIVA3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,1.450855e+08,3483657.0,NaN,6455216400,1.000,True,VIVA3,3483657.0,1
2378,12,58334071,Ações,NaN,WEGE3,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,2.788555e+08,2394613.0,NaN,9564084300,2.000,True,WEGE3,2394613.0,1
2502,7,58334079,Ações,NaN,BPAC11,NaN,Para negociacao,Nao,NaN,0.000000e+00,NaN,2.698294e+08,2992600.0,NaN,12658698000,3.000,True,BPAC11,2992600.0,3

In [38]:
MES1.sort_values(['aserestudado','candidatos']).to_csv('excel_fundos\\'+str(anomes)+'_2.xls',sep='\t',decimal= '.')

In [39]:
#aqui tenho q ver se as linhas com short estao realmente negativas
aux = MES1.copy()

In [40]:
anomes = 202005
apelido_fundo = 'CONST'.upper()


%time carteira_pandas,fundo,fundo_cnpj,adm,adm_cnpj,pl,hora_recebimento = parse_html_tudo_int(apelido_fundo,anomes,candidatos=True)

Wall time: 785 ms

In [41]:
carteira_pandas,alfabetico = separa_blocos(carteira_pandas)

ISSO ESTA ERRADO, QUANDO É NÃO ALFABETICO (olhar squadra 202004 o aserestudado 58331405 q vc vai entender)
Tento by passar usando a localização de algum Investimento no Exterior
grupo 3 todos os ativos1 são nulos

In [42]:
explodido = explodir(carteira_pandas,alfabetico)

In [43]:
MES1 = aux.copy()
MES2 = explodido.copy()
for ativo in sorted(list({x for x in aux.ativo3 if pd.notna(x)})):
    if ativo.upper() not in ('MRSA5B','MRSA3B','MOAR3','EUCA4','USIM6','TIET12','Valores a Pagar'.upper()):
        MES2 = teste_fraco(MES1,MES2,ativo,'202005')

-------------------ARZZ3-------------------
B3SA3 -2320000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
-------------------BPAC11-------------------
-------------------ENEV3-------------------
ENGI11 335150300.0
                                                  ativo1  aserestudado  \
1314  Certificado ou recibo de depósito de valores m...      58845430
2367           Ações e outros TVM cedidos em empréstimo      58845447

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
1314              0.0             0.0       12385264000      2607424.0
2367              0.0             0.0        4016975200       845679.0

               MAX           MIN
1314  2.607424e+08  2.607424e+08
2367  8.456790e+07  8.456790e+07
 []
EQTL3 406410000.0
                                         ativo1  aserestudado  vendas_montante  \
743                                      Ações      58845422     1.005451e+09
820                                      Ações      58845423     1.338309e+09
1251                                     Ações      58845429     0.000000e+00
2037  Ações e outros TVM cedidos em empréstimo      58845442     0.000000e+00
2297  Ações e outros TVM cedidos em empréstimo      58845446     0.000000e+00

      aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
743      258798800.0       12162265800      6065968.0  6.561437e+08
820      132449800.0        4121897000      2055809.0  2.819750e+08
1251     221784900.0        6276091100      3130220.0  3.020966e+08
2037             0.0        2656895600      1325135.0  1.325135e+08
2297             0.0        2119244900      1056980.0  1.056980e+08

               MIN
743   6.400918e+08
820   2.633011e+08
1251  2.992807e+08
2037  1.325135e+08
2297  1.056980e+08
 [{820, 2037}, {2297, 1251}]
EZTC3 338371800.0
                                                  ativo1  aserestudado  \
1087  Certificado ou recibo de depósito de valores m...      58845426
1152                                              Ações      58845427
1204                                              Ações      58845428
2215           Ações e outros TVM cedidos em empréstimo      58845445

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
1087     0.000000e+00             0.0        3934116000      1206414.0
1152     0.000000e+00     535928400.0       19127402000      5865502.0
1204     6.293749e+09     143025200.0        3439487500      1054734.0
2215     0.000000e+00             0.0         875852400       268584.0

               MAX           MIN
1087  1.206414e+08  1.206414e+08
1152  5.711145e+08  5.642384e+08
1204  3.633752e+08  2.807905e+08
2215  2.685841e+07  2.685840e+07
 [{1204}, {1204, 2215}]
-------------------GNDI3-------------------
-------------------LAME3-------------------
-------------------LAME4-------------------
-------------------LREN3-------------------
-------------------MGLU3-------------------
-------------------NTCO3-------------------
PSSA3 134150000.0
                                                  ativo1  aserestudado  \
506                                               Ações      58845420
746                                               Ações      58845423
830                                               Ações      58845424
994   Certificado ou recibo de depósito de valores m...      58845426
1883           Ações e outros TVM cedidos em empréstimo      58845441

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
506      0.000000e+00    1.581342e+09        5337426600      1128420.0
746      1.338309e+09    1.324498e+08        4121897000       871437.0
830      0.000000e+00    8.768221e+08        7241322500      1530935.0
994      0.000000e+00    0.000000e+00        3934116000       831737.0
1883     0.000000e+00    0.000000e+00        2832702400       598880.0

               MAX           MIN
506   7.940982e+07  7.277759e+07
746   1.182505e+08  1.120820e+08
830   1.345560e+08  1.308786e+08
994   8.317370e+07  8.317370e+07
1883  5.988800e+07  5.988800e+07
 [{830}, {506, 1883}]
-------------------RADL3-------------------
RAIL3 -43730000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
RENT3 405457200.0
                                         ativo1  aserestudado  vendas_montante  \
243                                      Ações      58845415     0.000000e+00
377                                      Ações      58845417     1.731539e+09
1546  Ações e outros TVM cedidos em empréstimo      58845435     0.000000e+00
1755  Ações e outros TVM cedidos em empréstimo      58845438     0.000000e+00

      aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
243      985024900.0        6162856700      1601574.0  1.352642e+08
377      299115600.0        9227434700      2397982.0  2.980520e+08
1546             0.0        4184719200      1087505.0  1.087505e+08
1755             0.0        4402458300      1144090.0  1.144090e+08

               MIN
243   1.227182e+08
377   2.721882e+08
1546  1.087505e+08
1755  1.144090e+08
 [{377, 1546}, {377, 1755}]
SULA11 147390000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
-------------------SUZB3-------------------
-------------------TEND3-------------------
TOTS3 383245800.0
                                         ativo1  aserestudado  vendas_montante  \
28                                       Ações      58845412              0.0
183                                      Ações      58845414              0.0
1720  Ações e outros TVM cedidos em empréstimo      58845437              0.0

      aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
28      6.028662e+09       15416400400      7666037.0  4.834350e+08
183     2.273232e+10       18990783900      9443453.0 -1.234009e+08
1720    0.000000e+00        4832877400      2403221.0  2.403221e+08

               MIN
28    4.130165e+08
183  -3.889284e+08
1720  2.403221e+08
 []
-------------------VIVA3-------------------
-------------------WEGE3-------------------

In [44]:
CONFUSAO = MES2.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3>1]

Empty DataFrame
Columns: [ativo3]
Index: []

In [45]:
CONFUSAO = MES2.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

              ativo3
aserestudado
58845414           0
58845417           0
58845420           0
58845426           0
58845428           0
58845429           0
58845430           0
58845434           0
58845437           0
58845438           0
58845441           0
58845445           0
58845446           0
58845447           0
58845455           0

In [46]:
#Antes de rodar o filtro_alfabetico preciso me certicicar que não há nenhuma linha com mais de um valor na coluna ativo3, ou seja nenhum aserestudado_com_varios_ativo3, ou seja, que  len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
assert len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
MES2 = filtro_alfabetico(MES2,alfabetico)

In [47]:
#Não achou
nao_achou = MES2[MES2.aserestudado.isin(CONFUSAO[CONFUSAO.ativo3<1].index)]

In [48]:
MES1[MES1.ativo1.str.contains('Certificado')]

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
1106,37,58334053,Certificado ou recibo de depósito de valores m...,NaN,ENGI11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,2394690.0,NaN,10464795300,3.0,True,ENGI11,2394690.0,1
2015,38,58334066,Certificado ou recibo de depósito de valores m...,NaN,SULA11,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,1215776.0,NaN,5440597600,1.0,True,SULA11,1215776.0,1

''

In [73]:
MES2 = completa('ENGI11',{1314,2367},MES2)
MES2 = completa('KLBN11',{1007},MES2)
MES2 = completa('TOTS3',{183,1720},MES2) #Teve aumento de capital
MES2 = completa('RENT3',{377,1755},MES2) 
MES2 = completa('EQTL3',{2297,1251},MES2) 
MES2 = completa('EZTC3',{2215,1204},MES2) 
MES2 = completa('PSSA3',{506,1883},MES2) 
MES2 = completa('ALPK3',{1507},MES2) 
MES2 = completa('ALUP11',{2659},MES2)

In [74]:
CONFUSAO = MES2.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

Empty DataFrame
Columns: [ativo3]
Index: []

In [75]:
MES2 = filtro_unico_index(MES2,aserestudado_sem_nenhum_ativo3=list(CONFUSAO[CONFUSAO.ativo3<1].index))
#MES2.set_index('index')

TRABALHO CONCLUIDO

In [52]:
MES2[MES2.aserestudado==58845455]

,index,aserestudado,ativo1,ativo2,ativo3,ativo4,classificacao,emp_ligada,vendas_quant,vendas_montante,aquis_quant,aquis_montante,pf_quant,pf_valor_custo,pf_valor_mercado,porcent_partrimonio_liquido,fechado,candidatos,cand_pf_quant,grupo
2659,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,34782.0,NaN,86502800,0.0,True,ALUP11,34782.0,3
2660,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,7683.0,NaN,86502800,0.0,True,ALZR11,7683.0,3
2661,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,39445.0,NaN,86502800,0.0,True,ANIM3,39445.0,3
2662,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,20547.0,NaN,86502800,0.0,True,ARZZ3,20547.0,3
2663,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,537285.0,NaN,86502800,0.0,True,ATOM3,537285.0,3
2664,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,221235.0,NaN,86502800,0.0,True,AZEV3,221235.0,3
2665,37,58845455,Brazilian Depository Receipt - BDR,NaN,NaN,NaN,Para negociacao,Nao,NaN,NaN,NaN,NaN,247151.0,NaN,86502800,0.0,True,AZEV4,247151.0,3

In [53]:
#aqui tenho q ver se as linhas com short estao realmente negativas
aux = MES2.copy()

In [54]:
anomes = 202006
apelido_fundo = 'CONST'.upper()


%time carteira_pandas,fundo,fundo_cnpj,adm,adm_cnpj,pl,hora_recebimento = parse_html_tudo_int(apelido_fundo,anomes,candidatos=True)

Wall time: 847 ms

In [55]:
carteira_pandas,alfabetico = separa_blocos(carteira_pandas)

grupo 3 todos os ativos1 são nulos
grupo 4 todos os ativos1 são nulos

In [56]:
alfabetico

True

In [57]:
set(carteira_pandas[carteira_pandas.grupo == 0].ativo1)

{'Cotas de Fundos',
 'Disponibilidades',
 'Investimento no Exterior',
 'Outros valores mobiliários registrados na CVM objeto de oferta pública',
 'Valores a pagar',
 'Valores a receber'}

In [58]:
explodido = explodir(carteira_pandas,alfabetico)

In [59]:
MES2 = aux.copy()
MES3 = explodido.copy()
for ativo in sorted(list({x for x in aux.ativo3 if pd.notna(x)})):
    if ativo.upper() not in ('MRSA5B','MRSA3B','MOAR3','EUCA4','USIM6','TIET12','Valores a Pagar'.upper()):
        MES3 = teste_fraco(MES2,MES3,ativo,'202006')

-------------------ALPK3-------------------
ARZZ3 92080000.0
                                        ativo1  aserestudado  vendas_montante  \
134  Ações e outros TVM cedidos em empréstimo      59602657              0.0

     aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
134             0.0        2515487600       525154.0  5.251540e+07

              MIN
134  5.251540e+07
 []
B3SA3 117750000.0
 Empty DataFrame
Columns: [ativo1, aserestudado, vendas_montante, aquis_montante, pf_valor_mercado, cand_pf_quant, MAX, MIN]
Index: []
 []
-------------------BPAC11-------------------
-------------------ENEV3-------------------
ENGI11 345310300.0
                                                  ativo1  aserestudado  \
85             Ações e outros TVM cedidos em empréstimo      59602656
1246  Certificado ou recibo de depósito de valores m...      59602675

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
85                0.0             0.0        3623456900       739481.0
1246              0.0             0.0       13762737800      2808722.0

               MAX           MIN
85    7.394810e+07  7.394810e+07
1246  2.808722e+08  2.808722e+08
 []
-------------------EQTL3-------------------
EZTC3 132331800.0
                                         ativo1  aserestudado  vendas_montante  \
532   Ações e outros TVM cedidos em empréstimo      59602663              0.0
1774                                     Ações      59602683      106533000.0

      aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
532     0.000000e+00        3444535000       863292.0  8.632920e+07
1774    3.145770e+09       17805406900      4462508.0  3.743448e+08

               MIN
532   8.632919e+07
1774  3.508906e+08
 []
-------------------GNDI3-------------------
KLBN11 199600000.0
                                                  ativo1  aserestudado  \
1412  Certificado ou recibo de depósito de valores m...      59602678
1911                                              Ações      59602686

      vendas_montante  aquis_montante  pf_valor_mercado  cand_pf_quant  \
1412              0.0    0.000000e+00        8528841600      4195200.0
1911      167100700.0    1.120815e+09       30366420800     14936754.0

               MAX           MIN
1412  4.195200e+08  4.195200e+08
1911  1.449517e+09  1.441654e+09
 []
-------------------LAME3-------------------
LAME4 256330000.0
                                         ativo1  aserestudado  vendas_montante  \
336   Ações e outros TVM cedidos em empréstimo      59602660              0.0
1590                                     Ações      59602680       63716400.0

      aquis_montante  pf_valor_mercado  cand_pf_quant           MAX  \
336     0.000000e+00         292194400        90800.0  9.080007e+06
1590    4.814219e+09       12797986000      3977000.0  2.583817e+08

               MIN
336   9.079996e+06
1590  2.275762e+08
 [{1590}, {336, 1590}]
-------------------LREN3-------------------
-------------------MGLU3-------------------
-------------------NTCO3-------------------
-------------------PSSA3-------------------
-------------------RADL3-------------------
-------------------RAIL3-------------------
-------------------RENT3-------------------
-------------------SUZB3-------------------
-------------------TEND3-------------------
-------------------TOTS3-------------------
-------------------VIVA3-------------------
-------------------WEGE3-------------------

In [60]:
CONFUSAO = MES3.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3>1]

Empty DataFrame
Columns: [ativo3]
Index: []

In [69]:
#papeis que ele Não achou
CONFUSAO = MES3.groupby(by='aserestudado').count()[['ativo3']]
CONFUSAO[CONFUSAO.ativo3<1]

Empty DataFrame
Columns: [ativo3]
Index: []

In [64]:
MES3 = completa('ENGI11',{85,1246},MES3)
MES3 = completa('KLBN11',{1412},MES3)
MES3 = completa('LAME4',{336,1590},MES3)

In [70]:
#Antes de rodar o filtro_alfabetico preciso me certicicar que não há nenhuma linha com mais de um valor na coluna ativo3, ou seja nenhum aserestudado_com_varios_ativo3, ou seja, que  len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
assert len(CONFUSAO[CONFUSAO.ativo3>1]) == 0
MES3 = filtro_alfabetico(MES3,alfabetico)

In [71]:
MES3 = filtro_unico_index(MES3,aserestudado_sem_nenhum_ativo3=list(CONFUSAO[CONFUSAO.ativo3<1].index))
#MES2.set_index('index')

TRABALHO CONCLUIDO

In [65]:
MES0.to_csv('excel_fundos\\'+apelido_fundo+'\\'+str(202003)+'.xls',sep='\t',decimal= '.')

In [66]:
MES1.to_csv('excel_fundos\\'+apelido_fundo+'\\'+str(202004)+'.xls',sep='\t',decimal= '.')

In [76]:
MES2.to_csv('excel_fundos\\'+apelido_fundo+'\\'+str(202005)+'.xls',sep='\t',decimal= '.')

In [72]:
MES3.to_csv('excel_fundos\\'+apelido_fundo+'\\'+str(202006)+'.xls',sep='\t',decimal= '.')